<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>project</title>
    <link rel="stylesheet" href="/public/css/register.css" />
    <link rel="stylesheet" href="/public/css/header.css" />
    <!-- Editor's Style -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
  </style>
  <body>
    <header>
      <div class="header_left">
        <div onclick="move_url('main')">plantplan</div>
      </div>
      <div class="header_right">
        <div class="login">
          <img
            src="/public/img/login_icon.png"
            alt="login"
            onclick="alert_show()"
          />
        </div>
        <div class="cart_icon" onclick="move_url('cart')">
          <img class="cart_img" src="/public/img/cart_icon.png" alt="cart" />
          <!-- <div class="cart_count">0</div> -->
        </div>
      </div>
    </header>
    <div class="main">
      <div>
        <div class="inputWrap">
          <div class="imageBox">
            <!-- 파일 입력 필드는 숨기고, 상자를 클릭하면 파일 선택 -->
            <input
              id="url"
              type="file"
              onchange="fileInputField(event);"
              style="display: none"
            />
            <!-- 미리보기 이미지 상자 클릭 시 파일 입력 트리거 -->
            <div id="previewContainer" onclick="triggerFileInput();">
              <img
                id="previewImage"
                src=""
                alt="미리보기 이미지"
                style="
                  display: none;
                  width: 250px;
                  height: 300px;
                  object-fit: cover;
                "
              />
              <span id="placeholder" style="display: block">이미지 선택</span>
            </div>
          </div>
          <div class="textBox">
            <input id="userId" type="number" placeholder="유저아이디" />
            <input id="name" type="text" placeholder="이름" />
            <!-- <input id="content" type="text" placeholder="상세내용" /> -->
            <div id="content"></div>
            <select id="category" name="category">
              <% for (let i = 0; i < category.length; i++) { %>
              <option value="<%= category[i].id %>">
                <%= category[i].categoryName %>
              </option>
              <% } %>
            </select>
            <button onclick="createData()">등록</button>
          </div>
        </div>
      </div>
      <div class="tableWrap">
        <table>
          <thead>
            <tr>
              <th>이미지</th>
              <th>카테고리</th>
              <th>ID</th>
              <th>이름</th>
              <th>상세내용</th>
              <th>수정</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody class="inputData">
            <% for (let i = 0; i < items.length; i++ ) { %>
            <tr id="tr_<%= items[i].id %>">
              <td>
                <img class="tableImg" src="<%= items[i].url %>" alt="이미지" />
              </td>
              <td><%= items[i].categoryName %></td>
              <td><%= items[i].userid %></td>
              <td>
                <a href="/items/itemOne/<%= items[i].id %>"
                  ><%= items[i].name %></a
                >
              </td>
              <td class="detail"><%= items[i].content %></td>
              <td>
                <button onclick="updatePage('<%= items[i].id %>')">수정</button>
              </td>
              <td>
                <button onclick="deleteItem('<%= items[i].id %>')">삭제</button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <footer>
      <div class="footer">
        <div class="footerWrap">
          <div id="logo" onclick="move_url('main')">plantplan</div>
        </div>
        <div class="footer_info">
          <div>대표 박소현</div>
          <div>주소 서울특별시 마포구 숭문 4길 6</div>
          <div>사업자 등록번호 000-00-00000</div>
          <br />
          <div>Copyright ⓒ 2025 PLANTPLAN All rights reserved.</div>
        </div>
      </div>
    </footer>
  </body>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script>
    const editor = new toastui.Editor({
      el: document.querySelector("#content"), // 에디터를 적용할 요소 (컨테이너)
      height: "300px", // 에디터 영역의 높이 값 (OOOpx || auto)
      initialEditType: "markdown", // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
      initialValue: "내용을 입력해 주세요.", // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
      previewStyle: "vertical", // 마크다운 프리뷰 스타일 (tab || vertical)
    });
  </script>

  <script src="/public/js/register.js"></script>
</html>
